<!-- 
   <div class="select-container">
    <div class="select-label">Select DB:</div>
    <div class="select-wrapper">
      <select class="select-dropdown" [(ngModel)]="selectedValue">
        <option *ngFor="let option of dropdownOptions" [value]="option.value">{{ option.dbName }}</option>
      </select>
      <div class="select-icon">
        <i class="fa fa-chevron-down"></i> 
      <!-- </div>
    </div>
  </div> --> 
<!-- 
  <div class="select-container">
    <div class="select-label">Select DB:</div>
    <div class="select-wrapper">
      <select class="select-dropdown" [(ngModel)]="selectedValue" (change)="onSelectDb()">
        <option *ngFor="let option of dropdownOptions" [value]="option">{{ option.dbName }}</option>
      </select>
      <div class="select-icon">
        <i class="fa fa-chevron-down"></i> <!-- You can replace this with your own dropdown icon -->
      <!-- </div>
    </div>
  </div> -->

  <div class="select-container">
    <div class="select-label">Select DB:</div>
    <div class="select-wrapper">
      <select class="select-dropdown" [(ngModel)]="selectedValue" (change)="onSelectDb()">
        <option *ngFor="let option of dropdownOptions" [value]="option.id">{{ option.dbName }}</option>
      </select>
      <div class="select-icon">
        <i class="fa fa-chevron-down"></i> <!-- You can replace this with your own dropdown icon -->
      </div>
    </div>
  </div>
  
 
  