<div *ngFor="let form of forms">
    <h2 (click)="toggleFormDetails(form)">{{ form.formName }}</h2>
    <div *ngIf="selectedForm === form">
      <formio [form]="{ components: form.createdForm }" (submit)="onFormSubmit($event)"></formio>
    </div>
  </div>
  