.login-container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%; 
    max-width: 400px; 
    margin: 0 auto; 
 
    .logo 
    {
        margin-bottom: 30px;
        display: flex; 
        justify-content: center; 
 
        img 
        {
          width: 100px; 
          height: auto;
        }
    }
 
    form 
    {
      border: 1px solid #ccc; 
      padding: 20px; 
      border-radius: 8px; 
      box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
      background: #ffffff; 
      width: 100%; 
 
      h2 
      {
        text-align: center;
        margin-bottom: 20px;
      }
 
      .form-group 
      {
        margin-bottom: 15px;
        font-weight: bold;

      }
 
      input 
      {
        width: 100%;
        padding: 8px;
        margin: 5px 0 15px 0; 
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
 
      button 
      {
        width: 100%;
        background-color:#7B68EE;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
 
        &:hover 
        {
          background-color: #45a098;
        }
      }
      
 
      a 
      {
        display: block;
        text-align: center;
        margin-top: 12px;
      }
    }
  }
  
 