<!-- <p>login works!</p> -->

<!-- <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="logo">
            <img src="assets/images/logo.png" alt="Logo">
        </div>
      <h2>Sign In</h2>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter password">
      </div>
      <button type="submit" [disabled]="!loginForm.valid">Sign In</button>
    </form>
  </div> -->

  <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="logo">
            <img src="assets/images/logo.png" alt="Logo">
        </div>
        <h2>Sign In</h2>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter username">
            <!-- <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched || submitted)" class="text-danger">
                Username is required
            </div> -->
            <small class="text-danger" *ngIf="loginForm.get('username')?.errors?.['required'] && loginForm.get('username')?.touched" style="color: red;">
                Username is required.
            </small>
            
            
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter password">
            <!-- <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched || submitted)" class="text-danger">
                Password is required
            </div> -->
            <small class="text-danger" *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched" style="color: red;">
                Password is required.
            </small>
            
        </div>
        <button type="submit" [disabled]="!loginForm.valid">Sign In</button>
    </form>
</div>

