<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome Page</title>
  <!-- Include Angular scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-aria.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular-messages.min.js"></script>
  <!-- Include Angular Material styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.2.6/angular-material.min.css">
  <!-- Include Angular Material scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.2.6/angular-material.min.js"></script>
  <!-- Include your Angular app script -->
  <script src="app.js"></script>
  <style>
    /* Add your custom styles here */
  </style>
</head>

<body ng-app="welcomeApp" ng-controller="WelcomeController" layout="column" layout-align="center center">
  <md-content layout-padding>
    <h1>Welcome</h1>
    <form name="welcomeForm" ng-submit="submitForm()" novalidate>
      <md-input-container>
        <label>Your Name</label>
        <input ng-model="formData.name" name="name" required>
        <div ng-messages="welcomeForm.name.$error" ng-show="welcomeForm.name.$touched">
          <div ng-message="required">Name is required.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Email</label>
        <input type="email" ng-model="formData.email" name="email" required>
        <div ng-messages="welcomeForm.email.$error" ng-show="welcomeForm.email.$touched">
          <div ng-message="required">Email is required.</div>
          <div ng-message="email">Invalid email address.</div>
        </div>
      </md-input-container>
      <md-button class="md-raised md-primary" type="submit">Submit</md-button>
    </form>
  </md-content>
</body>

</html>
