/* Overall background of the form builder area */
.form-builder-container {
    background-color: #f4f4f4; /* Light grey background */
    padding: 20px; /* Padding around the form builder */
    border: 1px solid #ccc; /* Light border for the container */
}
 
/* Styling the form builder panel */
.form-builder-container .formio-builder-form {
    background-color: #fff; /* White background for the form area */
    border: 1px solid #dee2e6; /* Slight border for definition */
    border-radius: 4px; /* Rounded corners */
}
 
/* Styling for the buttons */
.form-builder-container .btn {
    background-color: #007bff; /* Blue background for buttons */
    color: white; /* White text color */
    border-radius: 4px; /* Rounded corners for buttons */
}
 
/* Custom styling for the search and categories section */
.form-builder-container .formio-component {
    background-color: #e9ecef; /* Lighter grey for components section */
    border-bottom: 1px solid #ccc; /* Border to separate components */
    padding: 10px; /* Padding inside components area */
}
 
/* Style adjustments for active elements */
.form-builder-container .formio-component.active,
.form-builder-container .formio-component:hover {
    background-color: #007bff; /* Blue background on hover/active */
    color: white; /* White text on hover/active */
}

button {    
    position
    : relative;
    /* Ensure the button is positioned relative to its nearest positioned ancestor */
    z-index
    :
    1000
    ;
    /* Bring the button to the front */
    margin-top
    :
    20px
    ;
    /* Add space above the button */
    }
