<!-- <p>form-io-demo works!</p> -->
<!-- <formio
  [form]="formJSON"
  [submission]="userResponses"
  (change)="onFeedbackChange($event)"
  (nextPage)="handleNextClick($event)" 
  (prevPage)="handlePrevClick($event)" 
  [readOnly]="readOnly"
></formio>` -->
<!-- 
<form-builder *ngIf="formJSON" [form]="formJSON" (onchange)="handleFormChange($event)"></form-builder> -->
<!-- <div class="form-builder-container">
  <form-builder
  [form]="formJSON"
  (onchange)="handleFormChange($event)" 
></form-builder>
</div> -->

<div class="form-builder-container">
  <form-builder
  [form]="formJSON"
  (onchange)="handleFormChange($event)"
  (ready)="onFormBuilderReady($event)"
></form-builder>
</div>
<button (click)="getFormJson()">OK</button>
