<!-- <div class="container">
  <h2>Contacts</h2>
  <button mat-raised-button class="add-contact-btn" (click)="addContact()">Add Contact</button>
  <table datatable [dtOptions]="dtOptions" class="contacts-table">
      <thead>
          <tr>
              <th>SR NO</th>
              <th>NAME</th>
              <th>EMAIL</th>
              <th>STATE</th>
              <th>CITY</th>
              <th>PHONE NUMBER</th>
              <th>ACTIONS</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let contact of contactsData; let i = index;">
              <td>{{ i + 1 }}</td>
              <td>{{ contact.name }}</td>
              <td>{{ contact.email }}</td>
              <td>{{ contact.state }}</td>
              <td>{{ contact.city }}</td>
              <td>{{ contact.phoneNumber }}</td>
              <td>
                  <button mat-icon-button (click)="viewContact(contact)">
                      <mat-icon>View</mat-icon>
                  </button>
                  <button mat-icon-button (click)="editContact(contact)">
                      <mat-icon>Edit</mat-icon>
                  </button>
                  <button mat-icon-button (click)="deleteContact(contact)">
                      <mat-icon>Delete</mat-icon>
                  </button>
                  <button mat-icon-button (click)="generateInvoice(contact)">
                      <mat-icon>Invoice Generation</mat-icon>
                  </button>
              </td>
          </tr>
      </tbody>
  </table>
</div> -->



    <div class="container">
      <h2>Contacts</h2>
      <button mat-raised-button class="add-contact-btn" (click)="addContact()">Add Contact</button>
      <form>
        <table class="contacts-table">
          <thead>
            <tr>
              <th>SR NO</th>
              <th>NAME</th>
              <th>EMAIL</th>
              <th>STATE</th>
              <th>CITY</th>
              <th>PHONE NUMBER</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contact of contactsData; let i = index;">
              <td>{{ i + 1 }}</td>
              <td>{{ contact.name }}</td>
              <td>{{ contact.email }}</td>
              <td>{{ contact.state }}</td>
              <td>{{ contact.city }}</td>
              <td>{{ contact.phoneNumber }}</td>
              <td>
                <button mat-icon-button (click)="viewContact(contact)">
                  <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button (click)="editContact(contact)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteContact(contact)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button (click)="generateInvoice(contact)">
                  <mat-icon>receipt</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    