.container {
    max-width: 1200px;
    margin: auto;
    position: relative;
  }
 
  .add-contact-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
  }
 
  .contacts-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
  }
 
  .contacts-table th,
  .contacts-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
 
  .contacts-table th {
    background-color: #f2f2f2;
  }
 
  .contacts-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
 
  .contacts-table tr:hover {
    background-color: #ddd;
  }
 
  h2 {
    text-align: left;
  }
 
  .mat-row:last-child {
    text-align: center;
  }