.form-container {
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 5px;
    width: 60%; /* Adjust width as needed */
    margin: 0 auto; /* Center the form container */
    display: flex;
    flex-direction: column;
  }
  
  .col-sm-4
  {
    display: flex;
    justify-content: space-between;
    align-items: right; /* Align items vertically in the middle */
    margin-bottom: 10px; /* Increase margin for better separation */
    width : 30% ;
    padding: 1px;
  }
  .form-row-sm
  {
     display: flex;
    justify-content: space-between;
    align-items: right; /* Align items vertically in the middle */
    margin-bottom: 10px; /* Increase margin for better separation */ 
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically in the middle */
    margin-bottom: 10px; /* Increase margin for better separation */
  }
  
  .form-group {
    flex: 1;
    display: flex;
    align-items: center; /* Align items vertically in the middle */
  }
  
  .select-label {
    align-self: flex-end;
    margin-left: auto;
    width: 10%;
  }
  
  label {
    font-weight: bold; /* Make labels bold */
    background-color: white; /* Set background color to white */
    padding: 5px; /* Add padding for better readability */
    margin-right: 10px; /* Add margin between labels and inputs */
  }
  
  input,
  select,
  textarea {
    flex: 1;
  }
  
  #contactType {
    width: calc(15% - 30px); /* Adjust width of select */
  }
  
  #address {
    width: calc(25% - 30px); /* Adjust width of address textarea */
  }
  
  .icon {
    margin-left: 5px; /* Add margin between input and dropdown icon */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .save-button {
    align-self: flex-end; /* Align button to the right */
    background-color: #5648c5; /* Set button background color */
    color: white; /* Set text color to white */
    border: none; /* Remove default button border */
    padding: 10px 20px; /* Add padding for better appearance */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-top: 20px; /* Add margin on top for separation */
  }
  