
<div class="form-container">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="col-sm-4">
            <div class="form-group select-label">
                <label for="contactType">Select:</label>
                <select formControlName="contactType" id="contactType">
                    <option value="patient">Patient</option>
                </select>
                <!-- <small class="text-danger" *ngIf="contactForm.get('contactType')?.errors?.['required'] && contactForm.get('contactType')?.touched" style="color: red;">
                    ContactType is required.
                </small> -->
              </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" formControlName="firstName" id="firstName" placeholder="Enter password">
                <small class="text-danger" *ngIf="contactForm.get('firstName')?.errors?.['required'] && contactForm.get('firstName')?.touched" style="color: red;">
                    FirstName is required.
                </small>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" formControlName="lastName" id="lastName">
                <small class="text-danger" *ngIf="contactForm.get('lastName')?.errors?.['required'] && contactForm.get('lastName')?.touched" style="color: red;">
                    LastName is required.
                </small>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" formControlName="email" id="email">
                <small class="text-danger" *ngIf="contactForm.get('email')?.errors?.['required'] && contactForm.get('email')?.touched" style="color: red;">
                    Email is required.
                </small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="state">State:</label>
                <select id="state" name="state">
                    <option value="California">California</option>
                    <!-- Add more options here -->
                </select>
                <!-- <small class="text-danger" *ngIf="contactForm.get('state')?.errors?.['required'] && contactForm.get('state')?.touched" style="color: red;">
                    State is required.
                </small> -->
            </div>
            <div class="form-group">
                <label for="city">City:</label>
                <select id="city" name="city">
                    <option value="Los Angeles">Los Angeles</option>
                    <!-- Add more options here -->
                </select>
                <!-- <small class="text-danger" *ngIf="contactForm.get('city')?.errors?.['required'] && contactForm.get('city')?.touched" style="color: red;">
                    City is required.
                </small> -->
            </div>
                   <div class="form-group">
                <label for="zipCode">Zip Code:</label>
                <input type="text" formControlName="zipCode" id="zipCode">
                <small class="text-danger" *ngIf="contactForm.get('zipCode')?.errors?.['required'] && contactForm.get('zipCode')?.touched" style="color: red;">
                    ZipCode is required.
                </small>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="phoneNumber">Phone Number:</label>
                <input type="tel" formControlName="phoneNumber" id="phoneNumber">
                <small class="text-danger" *ngIf="contactForm.get('phoneNumber')?.errors?.['required'] && contactForm.get('phoneNumber')?.touched" style="color: red;">
                    PhoneNumber is required.
                </small>
            </div>
           <div class="form-group">
                <label for="address">Address:</label>
                <textarea formControlName="address" id="address" rows="3"></textarea>
                <small class="text-danger" *ngIf="contactForm.get('address')?.errors?.['required'] && contactForm.get('address')?.touched" style="color: red;">
                    Address is required.
                </small>
            </div>
   
        </div>

        <button type="submit" [disabled]="contactForm.invalid" class="save-button">Save</button>
    </form>
</div>
